.octicon {
    display: inline-block;
    vertical-align: text-top;
    fill: currentColor;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 300px;
}

#brand, #header {
  background-color: #8c1f1fff;
}

#brand > div {
  display: flex;
  align-items: baseline;
  color: white;
  justify-content: space-between;
}

#header {
  display: flex;
  flex-flow: row wrap;
}

#sitename{
  font-size: small;
  color: white;
}

#logout{
  font-size: small;
  color: white;
}

#brand a:hover {
  text-decoration: none;
}

#brand img {
  padding: 5px;
  height: 30px;
}

#navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  flex-grow: 2;
}

#navigation > ul {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
}

@media (min-width: 768px) {
  #sitename{
    font-size: x-large;
  }

  #brand img {
    height: 50px;
  }

}

/* tabs */

.tabrow {
  text-align: center;
  list-style: none;
  padding: 0;
  line-height: 24px;
  height: 60px;
  overflow: hidden;
  font-size: 12px;
  font-family: verdana;
  position: relative;
  margin-bottom: 0;
}

.tabrow li {
  background: lightgrey;
  display: inline-block;
  position: relative;
  z-index: 0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin: 0 0.5rem;
  padding: 2px 2px !important;
}

.tabrow li.active {
  background: white;
  color: #333;
  z-index: 2;
  border-bottom-color: white;
}
/* end tabs */

main {
  margin-top: 1rem;
}

.alert {
  margin-top: 0.4rem;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

/* egg list */

#id_group {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
}

#id_group input{
  visibility: hidden;
}

#id_group span{
  border: 0.03rem solid gray;
  border-radius: 2px;
  margin: 2px 8px 2px -13px;
  padding: 2px 6px;
}

input:checked +span{
  background-color: lightgray;

}
