{% extends "big_eggs/main.html" %}
{% load static %}

{% block main %}

<div class="container">

<h3>Datenschutzerklärung</h3>
<p>Sehr geehrte Besucherinnen und Besucher, wir freuen uns über Ihren Besuch auf unseren Webseiten. Wir möchten, dass Sie sich hierbei sicher und wohl fühlen. Der Schutz Ihrer Privatsphäre hat für uns einen hohen Stellenwert. Die folgenden Datenschutzbestimmungen sind dafür gedacht, Sie über unsere Handhabung der Erhebung, Verwendung und Weitergabe von persönlichen Daten zu informieren.</p><br>

<p><b>Verantwortliche Stelle</b></p>
{% comment %} Beispiel GmbH<br> {% endcomment %}
Bogumil Schube<br>
Fohlenfeld 25<br>
31162 Bad Salzdetfurth<br>
bigeggs@schube.info<p></p>
<br>

<p><b>Nutzungsdaten</b></p>
<p>Um die Qualität und Funktionsfähigkeit unserer Webseiten zu verbessern und für den Fall einer Strafverfolgung, speichern wir zu statistischen Zwecken Daten über den einzelnen Zugriff auf unsere Seiten. Dieser Datensatz besteht aus
</p><ul>
<li>der Seite, von der aus die Datei angefordert wurde, </li>
<li>dem Namen der Datei, </li>
<li>dem Datum und der Uhrzeit der Abfrage, </li>
<li>der übertragenen Datenmenge, </li>
<li>dem Zugriffsstatus (Datei übertragen, Datei nicht gefunden), </li>
<li>Beschreibung des Typs des verwendeten Webbrowsers, </li>
<li>der IP-Adresse des anfragenden Rechners</li>
</ul><p></p>
<p>Rechtsgrundlage für diese Datenverarbeitung ist Art. 6 Abs. 1 lit. f DSGVO (berechtigte Interessen des Verantwortlichen).</p>
<p>Die o.g. Gründe stellen auch das berechtigte Interesse für die Datenverarbeitung nach Art. 6 Abs. 1 lit. f DSGVO dar.</p><br>

<p><b>Registrierungsprozess</b></p>
<p>Sie können sich auf unserer Webseite registrieren. Im Rahmen des Registrierungsprozesses erheben und verarbeiten wir folgende Daten:</p>
<p>E-Mail Adresse, Benutzername</p>
<p>Diese Daten werden verarbeitet, um Ihr Nutzungsprofil zu erstellen, Ihnen die erforderlichen Zugangsdaten zukommen zu lassen, etwaige Kosten abzurechnen und Kontakt mit Ihnen aufzunehmen.</p>
<p>Rechtgrundlage für die Verarbeitung der bei der Registrierung eingegebenen Daten ist Art. 6 Abs. 1 lit. a DSGVO (Einwilligung). Ihre Daten bleiben so lange gespeichert, wie Ihr Profil besteht und/oder diese aus Abrechnungsgründen benötigt werden (z.B. rechtliche Aufbewahrungsfristen).</p>
<p>Sie können Ihren Account selbständig löschen. Dabei werden alle Daten automatisch gelöscht.</p>
<p>Die Daten werden nicht an Dritte übermittelt.</p>
<br>

<p><b>Cookies</b></p>
<p>Zur besseren Benutzerführung setzen wir Cookies ein. Durch die Verwendung von Cookies wird die Nutzung von Webseiten für den Nutzer vereinfacht. Bestimmte Seiten sind ohne deren Einsatz nicht oder nicht fehlerfrei aufrufbar. Diese Gründe stellen auch das berechtigte Interesse für diese Datenverarbeitung nach Art. 6 Abs. 1 lit. f DSGVO dar (die Nutzung von Cookies zu Analysezwecken wird in einem anderen Punkt behandelt).
Gängige Browser bieten die Einstellungsmöglichkeit, Cookies nicht zuzulassen. Sie können Ihren Browser so einstellen, dass Sie über das Setzen von Cookies informiert werden und Cookies nur im Einzelfall erlauben, die Annahme von Cookies ausschließen oder das automatische Löschen der Cookies beim Schließen des Browser aktivieren.
Es ist nicht gewährleistet, dass Sie auf alle Funktionen dieser Website ohne Einschränkungen zugreifen können, wenn Sie entsprechende Einstellungen vornehmen.</p>
<br>

<p><b>Newsletter</b></p>
<p>Wir bieten die Möglichkeit, sich per Newsletter über Neuerungen auf unserer Webseite zu informieren. Hierfür benötigen wir ausschließlich Ihre E-Mail-Adresse. Wenn Sie zu einem späteren Zeitpunkt den Newsletter nicht mehr beziehen möchten, ist dies über eine einfache E-Mail Abmeldung möglich. Rechtsgrundlage für die Verarbeitung der Daten nach Anmeldung zum Newsletter durch den Nutzer ist die Einwilligung des Nutzers, Art. 6 Abs. 1 lit. a DSGVO. Rechtsgrundlage für den Versand des Newsletters infolge des Verkaufs von Waren oder Dienstleistungen ist § 7 Abs. 3 UWG.</p>
<br>

<p><b>Kontaktformular</b></p>
<p>Sie können sich über ein Kontaktformular jederzeit mit Fragen oder Anregungen an uns wenden. Um Ihre Fragen beantworten oder Ihnen eine Rückmeldung zukommen lassen zu können, benötigen wir folgende Angaben: Name, Vorname und E-Mail Adresse. Diese Daten verwenden wir ausschließlich für die o.g. Zwecke. Rechtsgrundlage für die Verarbeitung der Daten, die im Zuge der Nutzung des Kontaktformulars oder der Übersendung einer E-Mail übermittelt werden, ist Art. 6 Abs. 1 lit. f DSGVO.</p>
<p>Zielt der E-Mail-Kontakt auf den Abschluss eines Vertrages ab, so ist zusätzliche Rechtsgrundlage für die Verarbeitung Art. 6 Abs. 1 lit. b DSGVO.</p>
<br>

<p><b>Ihre Rechte als Nutzer</b></p>
<p>
	a) Recht auf Bestätigung<br>
	Jede betroffene Person hat das Recht, Auskunft zu verlangen, ob über sie personenbezogene Daten verarbeitet werden.
</p>
<p>
	b) Recht auf Auskunft (Art. 15 DSGVO)<br>
	Jede betroffene Person hat das Recht, unentgeltliche Auskunft über die zu seiner Person gespeicherten personenbezogenen Daten und eine Kopie dieser Auskunft zu erhalten.
</p>
<p>
	c) Recht auf Berichtigung (Art. 16 DSGVO)<br>
	Die betroffene Person hat das Recht, von dem Verantwortlichen unverzüglich die Berichtigung sie betreffender unrichtiger personenbezogener Daten zu verlangen.
</p>
<p>
	d) Recht auf Löschung (Recht auf Vergessen werden) (Art. 17 DSGVO)<br>
	Jede betroffene Person hat das Recht, zu verlangen, dass die sie betreffenden personenbezogenen Daten unverzüglich gelöscht werden, sofern einer der gesetzlich genannten Gründe zutrifft und soweit die Verarbeitung nicht erforderlich ist.
</p>
<p>
	e) Recht auf Einschränkung der Verarbeitung (Art. 18 DSGVO)<br>
	Jede betroffene Person hat das Recht, die Einschränkung der Verarbeitung zu verlangen, sofern einer der gesetzlich genannten Gründe zutrifft.
</p>
<p>
	f) Recht auf Datenübertragbarkeit (Art. 20 DSGVO)<br>
	Jede betroffene Person hat das Recht, die sie betreffenden personenbezogenen Daten, die durch sie einem Verantwortlichen bereitgestellt wurden, in einem strukturierten, gängigen und maschinenlesbaren Format zu erhalten und diese Daten einem anderen Verantwortlichen ohne Behinderung zu übermitteln, sofern die Verarbeitung auf der Einwilligung gemäß Art. 6 Abs. 1 Buchstabe a DS-GVO oder Art. 9 Abs. 2 Buchstabe a DS-GVO oder auf einem Vertrag gemäß Art. 6 Abs. 1 Buchstabe b DS-GVO beruht und die Verarbeitung mithilfe automatisierter Verfahren erfolgt, sofern die Verarbeitung nicht für die Wahrnehmung einer Aufgabe erforderlich ist, die im öffentlichen Interesse liegt oder in Ausübung öffentlicher Gewalt erfolgt, welche dem Verantwortlichen übertragen wurde.<br>
	Ferner hat die betroffene Person bei der Ausübung ihres Rechts auf Datenübertragbarkeit gemäß Art. 20 Abs. 1 DS-GVO das Recht, zu erwirken, dass die personenbezogenen Daten direkt von einem Verantwortlichen an einen anderen Verantwortlichen übermittelt werden, soweit dies technisch machbar ist und sofern hiervon nicht die Rechte und Freiheiten anderer Personen beeinträchtigt werden.
</p>
<p>
	g) Recht auf Widerruf einer datenschutzrechtlichen Einwilligung (Art. 13 DSGVO)<br>
	Jede betroffene Person hat das Recht, eine Einwilligung zur Verarbeitung personenbezogener Daten jederzeit zu widerrufen, wenn die Verarbeitung auf Art.6 Abs. 1 lit. a oder Art. 9 Abs. 2 lit. a beruht, ohne dass die Rechtmäßigkeit der aufgrund der Einwilligung bis zum Widerruf erfolgten Verarbeitung berührt wird.
</p>
<p></p><hr><p></p>
<p><b>
	h) Recht auf Widerspruch (Art. 21 DSGVO)<br>
	Jede betroffene Person hat das Recht, aus Gründen, die sich aus ihrer besonderen Situation ergeben, jederzeit gegen die Verarbeitung sie betreffender personenbezogener Daten, die aufgrund von Art. 6 Abs. 1 Buchstaben e oder f DS-GVO erfolgt, Widerspruch einzulegen. Dies gilt auch für ein auf diese Bestimmungen gestütztes Profiling.
	Werden personenbezogene Daten verarbeitet, um Direktwerbung zu betreiben, so hat die betroffene Person das Recht, jederzeit Widerspruch gegen die Verarbeitung sie betreffender personenbezogener Daten zum Zwecke derartiger Werbung einzulegen; dies gilt auch für das Profiling, soweit es mit solcher Direktwerbung in Verbindung steht.
</b></p>
<p></p><hr><p></p>
<p>
	i) Automatisierte Entscheidungen im Einzelfall einschließlich Profiling (Art. 22 DSGVO)<br>
	Jede betroffene Person hat das Recht, nicht einer ausschließlich auf einer automatisierten Verarbeitung - einschließlich Profiling - beruhenden Entscheidung unterworfen zu werden, die ihr gegenüber rechtliche Wirkung entfaltet oder sie in ähnlicher Weise erheblich beeinträchtigt, sofern die Entscheidung
	</p><ul style="list-style-type:none">
		<li>(1) nicht für den Abschluss oder die Erfüllung eines Vertrags zwischen der betroffenen Person und dem Verantwortlichen erforderlich ist, oder</li>
		<li>(2) aufgrund von Rechtsvorschriften der Union oder der Mitgliedstaaten, denen der Verantwortliche unterliegt, zulässig ist und diese Rechtsvorschriften angemessene Maßnahmen zur Wahrung der Rechte und Freiheiten sowie der berechtigten Interessen der betroffenen Person enthalten oder</li>
		<li>(3) mit ausdrücklicher Einwilligung der betroffenen Person erfolgt.</li>
	</ul>
	In den in (1) und (3) genannten Fällen werden angemessene Maßnahmen getroffen, um die Rechte und Freiheiten sowie die berechtigten Interessen der betroffenen Person zu wahren, wozu mindestens das Recht auf Erwirkung des Eingreifens einer Person seitens des Verantwortlichen, auf Darlegung des eigenen Standpunkts und auf Anfechtung der Entscheidung gehört.
<p></p><br>
<p><b>Dauer, für die die personenbezogenen Daten gespeichert werden</b></p>
<p>Das Kriterium für die Dauer der Speicherung von personenbezogenen Daten ist die jeweilige gesetzlich vorgeschriebene Aufbewahrungsfrist. Nach Ablauf der Frist werden die entsprechenden Daten routinemäßig gelöscht, sofern sie nicht mehr zur Vertragserfüllung oder Vertragsanbahnung erforderlich sind.</p><br>

<p><b>Datenschutzbeauftragter</b></p>
<p>Verantwortlich für die Einhaltung und Kontrolle unserer Datenschutzpflichten ist unser Datenschutzbeauftragter.</p>
<p>
Dipl. Inform. Bogumil Schube<br>
Fohlenfeld 25<br>
31162 Bad Salzdetfurth<br>
bigeggs@schube.info<p></p>
<br>

<p><b>Beschwerderecht bei der zuständigen Aufsichtsbehörde</b></p>
<p>Im Falle von datenschutzrechtlichen Verstößen hat die betroffene Person ein Beschwerderecht bei der zuständigen Aufsichtsbehörde. Dies ist der oder die Landesdatenschutzbeauftragte von Niedersachen: <a href="https://lfd.niedersachsen.de/" target="_blank">https://lfd.niedersachsen.de/</a>.</p><br>

<p>Datenschutzerklärung erstellt mit dem interaktiven Muster für die <a href="https://www.123recht.de/datenschutzgenerator.asp" target="_blank">Datenschutzerklärung von 123recht.de</a> - Rechtsberatung online.</p>


</div>

</div>

{% endblock main %}
