{% load static %}
{% load octicons %}
{% load chicken_utils %}

<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="manifest" href="{% static "bigeggs.webmanifest" %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "icons/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "icons/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "icons/favicon-16x16.png" %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'icons/favicon.ico' %}">
    <link rel="mask-icon" href="{% static "icons/safari-pinned-tab.svg" %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>bigeggs.app: die App für Hühnerhaltung</title>
    <meta name="description" lang="de" content="Behalten Sie Überblick über Ihre Tiere, führen Sie einfach eine Statistik über die gelegten Eier.">

    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <script src="{% static "js/jquery-3.5.1.slim.min.js" %}" ></script>
    <script>
      {% block script %}
        function callStepDown(widget_id) {
          const elem = document.getElementById(widget_id);
          if (elem.value === ""){
            elem.value = new Date().toISOString().slice(0,10);
          }
          elem.stepDown();
        }
        function callStepUp(widget_id) {
          const elem = document.getElementById(widget_id);
          if (elem.value === ""){
            elem.value = new Date().toISOString().slice(0,10);
          }
          elem.stepUp();
        }
        function filter_reset(widget_id) {
          /* On closing details of filter reload the page with non filters
        */
          const elem = document.getElementById(widget_id);
          if (!elem.open) {
            window.location.href = ".";
          }
        }
      {% endblock %}
    </script>
  </head>
  <body>

    <div id="brand">
      <div class="container">
        <div>
          <a href="/">
            <img src="{% static "icons/bigeggs_logo.svg" %}" width="auto" alt="bigeggs logo">
            <span id="sitename">bigeggs.app </span>
          </a>
        </div>
        <div>
          {% if user.is_authenticated %}

            <a id="logout" href='{% url 'account_logout' %}'>
              {% octicon "sign-out" scale=4 height=24 class="large" %}
              <span style='padding-left: 0.7em'>Abmelden
              </span></a>
          {% endif %}
        </div>
      </div>
    </div>

    {% block header %}{% endblock header %}

    {% block messages %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{message.level|to_bs_level}} container" role="alert">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endblock messages %}

    <main role="main" class="container content">
      {% block content %}{% endblock content %}
    </main>

    <footer class="footer mt-auto py-3 border-top container">
      {% comment %} <div class="container"> {% endcomment %}
      <a class="btn btn-link" href="{% url "impressum" %}"> Impressum </a> |
      <a class="btn btn-link" href="{% url "datenschutz" %}"> Datenschutz </a> |
      <a class="btn btn-link" href="{% url "envelope-contact" %}"> Kontakt </a>
      {% comment %} </div> {% endcomment %}
    </footer>

    <script src="{% static "js/bootstrap.bundle.min.js" %}" ></script>

    {% block end_hook %}
    {% endblock end_hook %}

  </body>
</html>
