{% extends "big_eggs/main_logged.html" %}
{% load octicons %}

{% block content %}

<h1>Hühner</h1>

<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Gruppe</th>
      <th scope="col">Huhn</th>
      {% comment %} <th scope="col" class="d-none d-md-block">Geschlecht</th> {% endcomment %}
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for chicken in chicken_list %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ chicken.group.name }}</td>
        <td>{{ chicken }}</td>
        {% comment %} <td>{{ chicken.get_sex_display }}</td> {% endcomment %}
        <td>
          <a class="btn btn-outline-primary btn-sm" href="{% url 'chicken_update' chicken.id %}" >
            {% octicon "pencil" %}
          </a>
        </td>

      </tr>
    {% endfor %}
  </tbody>
</table>


<a class="btn btn-primary" href="{% url 'chicken_add'%}" >
{% octicon "plus" scale=4 height=24 class="large" %}
<span style='padding-left: 0.7em'>Eingabe</span></a>

{% endblock content %}