{% extends "big_eggs/main_logged.html" %}
{% load octicons %}

{% block content %}

<h1>Hühnergruppe
    {% if not chickengroup.id %}
        hinzufügen
    {% else %}
        ändern
    {% endif %}
</h1>

<form action="{{ form_action }}" method="post">
    <div class="form-group">
    {% csrf_token %}
    <table class="table">
    {{ form }}
    </table>

    {% if chickengroup.id %}
    <p>Zugeordnete Hühner: {{ chickengroup.get_members.count }}</p>
    {% endif %}
    <div>
        {% comment %} <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> {% endcomment %}
        <button type="submit" class="btn btn-primary">Speichern</button>
        {% if chickengroup.id %}
            <a class="btn btn-danger" role="button" href="{% url 'chickengroup_delete' chickengroup.id %}" >Löschen</a>
        {% endif %}
    </div>
    </div>
</form>

{% endblock content %}