{% extends "big_eggs/main_logged.html" %}
{% load octicons %}
{% load chicken_utils %}

{% block content %}

<h1>Huhn
    {% if not chicken.id %}
        hinzufügen
    {% else %}
        ändern
    {% endif %}
</h1>

<form action="{{ form_action }}" method="post">
    <div class="form-group">
    {% csrf_token %}
    <table class="table">
    {{ form }}
    <tr><th>Alter:</th><td>{{ chicken.age|relativedelta_to_str }}</td>
    </table>
    <div>
        {% comment %} <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> {% endcomment %}
        <button type="submit" class="btn btn-primary">Speichern</button>
        {% if chicken.id %}
            <a class="btn btn-danger" role="button" href="{% url 'chicken_delete' chicken.id %}" >Löschen</a>
        {% endif %}
    </div>
    </div>
</form>

{% endblock content %}