{% extends "big_eggs/main.html" %}
{% load octicons %}
{% load chicken_utils %}

{% block content %}

<h1>Eier</h1>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalForm">
{% octicon "plus" scale=4 height=24 class="large" %} <span style='padding-left: 0.7em'>Eingabe</span>
</button>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col" style="width: 50%">Datum</th>
      <th scope="col">Anzahl</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for day in eggs_by_day %}
      <tr>
        <td>
          {{ day.date|date }}<br>
          <div class="card collapse" id="details{{ forloop.counter }}">
            <ul class="list-group list-group-flush">
              {% for egg in day.eggs_list %}
                <li class="list-group-item">
                  <b>{{ egg.group__name|default:'ohne' }}:</b> {{ egg.eggs_count }} 
                  {% if egg.error %}
                    ({{ egg.error|error_to_str }})
                  {% endif %}
                  <a class="btn btn-outline-danger btn-sm ml-5" href="/chicken/eggs_delete/{{ egg.laid__date|date:'Y'}}/{{ egg.laid__date|date:'m' }}/{{ egg.laid__date|date:'d'}}/{{ egg.group }}/{{ egg.error|default:"None" }}/" >
                    {% octicon "x" scale=4 height=20 class="large" %}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </td> 
        <td>{{ day.count }}</td>
        <td>
          <button class="btn btn-outline-primary btn-sm" data-toggle="collapse" data-target="#details{{ forloop.counter }}" {% if not day.count %} disabled {% endif %}>
          {% octicon "italic" scale=4 height=20 class="large" %}
          </button>
          <a class="btn btn-outline-danger btn-sm {% if not day.count %} disabled {% endif %}" href="/chicken/eggs_delete/{{ day.date|date:'Y'}}/{{ day.date|date:'m' }}/{{ day.date|date:'d'}}/" >
            {% octicon "x" scale=4 height=20 class="large" %}
          </a>
        </td>
      </tr>      
    {% endfor %}
  </tbody>
</table>

<a class="btn btn-secondary" href="{% url 'eggs_list' minus_days|add:"10" %}">
{% octicon "kebab-vertical" scale=4 height=22 %}
</a>

<p>
<br><br>
<b>Summe</b> im gewählen Zeitraum ({{ minus_days }} Tage): <b>{{ sum_all }}</b> <br>
Durchschnittliche Anzahl Eier pro Tag: <b>{{ average|floatformat  }} </b> <br>
{% comment %} Trend: <b> {{ trend }} </b> <br> {% endcomment %}
</p>


<!-- Modal -->
<div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eggsBulkInputLabel">Eingabe</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{{ form_action }}" method="post">
          <div class="form-group">
            {% csrf_token %}
            <table class="table">
            {{ form }}
            </table>
            <div class="modal-footer">
                {% comment %} <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> {% endcomment %}
                <button type="submit" class="btn btn-primary">Speichern</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}