{% extends "big_eggs/main_logged.html" %}
{% load octicons %}
{% load chicken_utils %}

{% block script %}
  {{ block.super }}
  {% if addanother %}
    window.onload = () => {
      $('#modalForm').modal('show');
    };
  {% endif %}

{% endblock script %}

{% block content %}

<h1>Eier</h1>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalForm">
{% octicon "plus" scale=4 height=24 class="large" %} <span style='padding-left: 0.7em'>Eingabe</span>
</button>

<details id="filter" class="border border-primary rounded mt-2 mb-2 p-1" {% if filters_active %}open{% endif %} ontoggle="filter_reset('filter')">
  <summary>
    Auswertung
  </summary>
  <div>
    <br>
    <h4>Filter</h4>
    <form method="get" id="filter-form">
      <div class="filters" >
        {{ filter.form.as_p }}
      </div>
      <button type="submit" class="btn btn-secondary" > Anwenden </button>
    </form>
    <br>
    <h4>Statistik</h4>
    <p>
      <b>Summe</b> (letzte {{ minus_days }} Tage): <b>{{ sum_all }}</b> <br>
      Durchschnittliche Anzahl Eier pro Tag: <b>{{ average|floatformat  }} </b>
    </p>
    <img src="stats.png?{{ request.GET.urlencode }}" loading="lazy" class="img-fluid">
  </div>
</details>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col" style="width: 50%">Datum</th>
      <th scope="col">Anzahl</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for day in eggs_by_day %}
      <tr>
        <td>
          {{ day.date|date:"SHORT_DATE_FORMAT"}}<br>
          <div class="card collapse eggs_list_day_details" id="details{{ forloop.counter }}">
            <ul class="list-group list-group-flush">
              {% for egg in day.eggs_list %}
                <li class="list-group-item">
                  <b>{{ egg.group.name|default:'ohne' }}:</b> {{ egg.quantity }}
                  {% if egg.error != 'N' %}
                    ({{ egg.get_error_display }})
                  {% endif %}
                  {% if egg.size != 'N' %}
                    <b>{{ egg.get_size_display }}</b>
                  {% endif %}
                  <a class="btn btn-outline-danger btn-sm ml-5" href="/chicken/eggs_delete/{{ egg.pk }}/" >
                    {% octicon "x" scale=4 height=20 class="large" %}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </td>
        <td>{{ day.count }}</td>
        <td>
          <button class="btn btn-outline-primary btn-sm" data-toggle="collapse" data-target="#details{{ forloop.counter }}" {% if not day.count %} disabled {% endif %}>
          {% octicon "italic" scale=4 height=20 class="large" %}
          </button>
          <a class="btn btn-outline-danger btn-sm {% if not day.count %} disabled {% endif %}" href="/chicken/eggs_delete/{{ day.date|date:'Y'}}/{{ day.date|date:'m' }}/{{ day.date|date:'d'}}/" >
            {% octicon "x" scale=4 height=20 class="large" %}
          </a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<a class="btn btn-secondary" href="{% url 'eggs_list' minus_days|add:"10" %}">
Weitere 10 Tage anzeigen
</a>

<!-- Modal -->
<div class="modal show" data-show="true" id="modalForm" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eggsBulkInputLabel">Eingabe</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{{ form_action }}" method="post">
          <div class="form-group egg-bulk-form">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="modal-footer">
                {% comment %} <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> {% endcomment %}
                <button type="submit" class="btn btn-primary" name="_addanother" value="_addanother">Speichern und neue Eingabe</button>
                <button type="submit" class="btn btn-primary" name="_safe" value="_safe">Speichern</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}